body{
	margin:0;
}

.topnav {
	overflow:hidden;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #5f5f5f;
    overflow-x: hidden;
}

.searchBox{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.topnav .content{
	height:100%;
	width:100%;
	display:table;
}

.content ul {
	height:100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5f5f5f;
}

.content li {
    float: left;
	list-style:none;
	height:100%;
}

.content li a:hover:not(.active) {
    background-color: #111;
	cursor:pointer;
}

.content .active{
	background-color: #4CAF50;
}

.sidenav .active {
    background-color: orange;
}

.content li a {
	font-size:25px;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
	height:100%;
}

.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    background-color: #f1f1f1;
    overflow-x: hidden;
}

.sidenav a {
    padding: 0px 0px 0px 12px;
    text-decoration: none;
    font-size: 12px;
    color: black;
    display: block;
    line-height: 50px;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    vertical-align: middle;
    width: 100%;
    transition: 0.3s;
}

.sidenav a:hover {
    background-color: orange;
	color:white;
	cursor:pointer;
}

.main {
    margin-left: 150px; /* Same as the width of the sidenav */
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
	white-space: nowrap;
	}

td, th {
		border: 1px solid #ddd;
		padding: 8px;
	}

	tr:nth-child(even){background-color: #f2f2f2;}

	tr:hover {background-color: #ddd;}

	th {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		background-color: #4CAF50;
		color: white;
	}
	#delete:hover{
		background-color:orange;
	}
.menu{
	float:left;
	width:20%;
	height:100%;
}





.pagination li{
	display: inline;
	text-align: center;

}


.pagination li a{
	position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
	cursor:pointer;
	 -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.num{
	width:25px;
}

.pagination li a:hover{
	background-color:#ADD8E6;
}
.pagination li .active{
	background-color:#ADD8E6;
}

.TopMenuBar_pall{
	text-align:center;
	z-index:5;
}

.TopMenuBar_pall>ul{
	list-style-type:none;
	display: inline-flex;
	margin-bottom: 10px;
	padding: 0px;
	overflow: hidden;
	background-color: #333;
}

.dropdown-menu_pall>ul, .sub-dropdown-menu_pall>ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.droptable-tr:hover {
	background-color: #f68122;
}

.TopMenuBar_pall a, .dropdown-menu_pall a, .sub-dropdown-menu_pall a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Applys to all links under class TopMenuBar on hover */
.TopMenuBar_pall a:hover {
  background-color: #f68122;
  color: black;
}

.dropdown-menu_pall a:hover{
  background-color: #f68122;
}

.sub-dropdown-menu_pall a:hover{
  background-color: #d3d3d3;
}

.dropdown-menu_pall{
  display: none;
  background-color: #333;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  width:200px;
  z-index: 5;
  
}


.sub-dropdown-menu_pall{
  display: none;
  background-color: gray;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  min-width: 50px;
  width:200px;
  z-index: 5;
  
}

.dropdown-menu_pall a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown_pall:hover .dropdown-menu_pall{
  display: block;
}

.sub-dropdown_pall:hover .sub-dropdown-menu_pall{
  display: table;
}

.sub-dropdown_pall{
  position: relative;

}
.sub-dropdown-menu_pall{
  left: 100%;
  top: 0;
}

.sub-dropdown-menu_pall ul{
  min-width: 250px;
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.btn{
    width: 100px;
    height: 50px;
    color: #fff;
    cursor: pointer;
	margin-top: 10px;
	border:none;
	display:inline-block;
	text-align: center;
    line-height: 3;
    text-decoration: none;
}

.edit-btn{
    background-color: #31708f;
}

.edit-btn:hover{
	background-color: #31b0d5;
}

.delete-btn{
    background-color: #F44336;
}

.delete-btn:hover{
	background-color:#f77066;
}

.insert-btn{
    background-color: #006600;
}

.insert-btn:hover{
	background-color:#009900;
}

.pointer:hover{
	cursor:pointer;
}

.up {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}