<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href="app/css/main.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<script src="../app/lib/angularjs1.5.6.js"></script>
		<script type="text/javascript" src="app/lib/angular-route1.5.6.js"></script>
		<script type="text/javascript" src="app/lib/angular-resource1.5.6.js"></script>
		<script src="app/lib/lodash4.17.4.js"></script>
		<script src="app/lib/angular-cookies1.5.6.js"></script>
		<script src="app/lib/pager.js"></script>
		<script src="app/app.js"></script>
		<script src="app/lib/commonUtilities.js"></script>
		<script src="app/lib/genericService.js"></script>
		<script src="app/controllers/contentController.js"></script>
		<script src="app/controllers/tableController.js"></script>
		<script src="app/controllers/structureController.js"></script>
		<script src="app/controllers/SQLController.js"></script>
		<script src="app/controllers/insertController.js"></script>
		<script src="app/controllers/newtableController.js"></script>
		<script src="app/controllers/exportController.js"></script>
	</head>
	<body>
	<div ng-app="myApp">
		<div ng-controller="mainController">
			<div ng-if="logged" ng-include src="'app/views/tables.html'"></div>
			<div ng-if="logged" style="padding-left:150px; padding-top:50px; margin:10px;">
				<div ng-view></div>
			</div>
			<div ng-if="!logged" ng-view></div>
		</div>
	</div>
	</body>
</html>