<div style="padding-left:150px; padding-top:50px; margin:10px;">
	<div ng-include src="'app/views/tables.html'"></div>
	<div ng-if="pager.pages.length">
		<input class="searchBox" type="text" name="search" ng-model="Search" ng-change="SearchResults(Search)" required>
	</div>
	<div style="float:left;">
		<ul  ng-if="pager.pages.length"  class="pagination" style="-webkit-padding-start: 0px;">
			<li>
				<a>Showing {{pager.startIndex+1}} to {{pager.endIndex+1}} of {{pager.totalItems}} entries</a>
			</li>
		</ul>
	</div>
	<div style="float:right; margin-bottom:5px;">

		<ul ng-if="pager.pages.length" class="pagination">
			<li ng-class="{disabled:pager.currentPage === 1}">
				<a ng-click="setPage(1)">First</a>
			</li>
			<li ng-class="{disabled:pager.currentPage === 1}">
				<a ng-click="setPage(pager.currentPage - 1)">Previous</a>
			</li>
			<li ng-repeat="page in pager.pages" ng-class="{active : pager.currentPage == page}">
				<a ng-class="{active : pager.currentPage == page}" class="num" ng-click="setPage(page)">{{page}}</a>
			</li>               
			<li ng-class="{disabled:pager.currentPage === pager.totalPages}">
				<a ng-click="setPage(pager.currentPage + 1)">Next</a>
			</li>
			<li ng-class="{disabled:pager.currentPage === pager.totalPages}">
				<a ng-click="setPage(pager.totalPages)">Last</a>
			</li>
		</ul>
	</div>
	<table style="height:100%;">
			<tr>
				<th ng-repeat="value in currentKeys">
					{{value}}
				</th>
			<tr>
			<tr ng-repeat="table in items | orderBy : 'accid'">
				<td ng-repeat="(key, value) in table">
					{{value}}
				</td>
				
			</tr>
			
		</table>
</div>
