<div class="TopMenuBar_pall">
	<ul>
		<li><a href="#home">Home</a></li>
		<li><a href="#accounts">Accounts</a></li>
		<li class="dropdown_pall"><a href="#manage">Manage</a>
			<div class="dropdown-menu_pall">
				<ul>
					<li><a href="#">Temp</a></li>
					<li><a href="#">Temp</a></li>
				</ul>
			</div>
		</li>
		<li class="dropdown_pall"><a href="#">Temp</a>
			<div class="dropdown-menu_pall">
				<ul>
					<li class="sub-dropdown_pall"><a href="#">Temp</a>
						<div class="sub-dropdown-menu_pall">
							<ul>
								<li><a href="#">Temp</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		<li>
	</ul>
</div>