<div ng-controller="tableController">
	<div class="topnav">
		<div class="content">
			<ul>
				<li><a href="#home" class ="fa fa-home"></a></li>
				<li ng-repeat="item in topmenu">
					<a ng-click="setActive(item)" href="#{{item}}" ng-class="{active : activeMenuTop === item}">{{item}}</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="sidenav">
	  <a ng-class="{active : activeMenu === value['table_name']}" ng-click="getTable($event, value['table_name'])" ng-repeat="value in data | orderBy">{{value['table_name']}}</a>
	</div>
</div>