<style>
html{
	background:white !important;
}
</style>
<div ng-controller="tableController">
	<div class="topnav">
		<div class="content">
			<ul>
				<li><div class="homelogo" ng-click="logout()" ng-include src="'app/views/logo.html'"></div></li>
				<li ng-repeat="item in topmenu">
					<a ng-click="setActive(item)" href="#{{item}}" ng-class="{active : activeMenuTop === item}">{{item}}</a>
				</li>
				<li style="float:right;">
					<a href="/API">API</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="sidenav">
		<a ng-class="{active : activeMenu === value['table_name']}" ng-click="getTable($event, value['table_name'])" ng-repeat="value in data | orderBy : 'table_name'">{{value['table_name']}}</a>
		<a ng-class="{active : activeMenu === 'newtable'}" ng-click="newTable()" href="#newtable">New Table</a>
	</div>
</div>