<!DOCTYPE html>
	<head>
		<link rel='stylesheet' href="{{ static_url('css/test.css') }}">
	
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script>
		
		var app = angular.module('myApp', []).config(function($interpolateProvider){
			$interpolateProvider.startSymbol('{[{').endSymbol('}]}');
		});
		app.controller('myCtrl', function($scope, $http) {
			//$scope.data = JSON.parse('{{ data }}');
			//console.log($scope.data);
			console.log($http);
			$scope.temptr = "";
			$scope.delete = function(id) {
				var postData = {'id': id};
				console.log(postData);
				var selector = "#acc"+id;
				var elmn = angular.element( document.querySelector(selector) );
				elmn.remove();
				angular.element( document.querySelector("#temp") ).remove();
				 $http.post("/Delete", postData).success(function(data, status) {
					console.log(data, status);
				})
			}
			
			$scope.export = function(){
				$http.post("/Export");
			}
			
			$scope.expand = function($event){
				console.log($event.currentTarget);
			}
		});
		
		app.directive('dirExpand', function ($compile) {
			return {
				restrict: 'A',
				scope: true,
				link: function (scope, element, attrs) {
					element.bind('click', function() {
						angular.element( document.querySelector("#temp") ).remove();
						var id = element[0].firstElementChild.innerHTML;
						var el = angular.element('<tr id="temp"><td colspan=3>test</td><td ng-click="delete('+id+')" colspan=4>Delete</td></tr>');
						scope.temptr = '<tr id="temp"><td colspan=3>test</td><td ng-click="delete('+id+')" colspan=4>Delete</td></tr>';
						//$compile(el)(scope);
						//element.after(el);
					});
					
				}
				
				
			}
		});
		</script>
		<title>{{ title }}</title>
   </head>
   <body>
   <div ng-app="myApp" ng-controller="myCtrl">
	<div style="width:100%; margin:15px;" ng-click="export()">Export</div>
   <table>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Email</th>
			<th>Password</th>
			<th>Proxy</th>
			<th>Galaxy</th>
			<th>Server</th>
			<th>Delete</th>
		</tr>
		
		
			<tr dir-expand ng-repeat="account in {{data}} | orderBy : 'accid'" id="acc{[{account['accid']}]}">
				
				<td ng-repeat="(key, value) in account">
					{[{value}]}
				</td>
				
				{[{temptr}]}
			
			</tr>
	
	</table>
	</div>
   </body>
 </html>